<div class="mn">
<div class="bm bw0">
<h1 class="mt"><!--{eval echo $lang['template']['bind_secken'];}--></h1>
<!--don't close the div here-->
<div class="mtw bm2 cl">
<!--{if empty($_G['yangcong']['yangcong'])}-->
<div class="bm2_b bw0 hm" style="padding-top: 70px;">
<a href="javascript:;" onclick="showWindow('yangcongbinding', 'plugin.php?id=yangcong:bind')"><img src="./source/plugin/yangcong/template/image/binding.jpg"></a>
<p class="mtn xg1"><!--{eval echo $lang['template']['click_to_bind'];}--></p>
</div>
<!--{else}-->
<div class="bm2_b bw0 hm" style="padding-top: 70px;">
<a href="javascript:;" onclick="showWindow('yangcongbinding', 'plugin.php?id=yangcong:cancel')"><img src="./source/plugin/yangcong/template/image/cancel_binding.jpg"></a>
<p class="mtn xg1"><!--{eval echo $lang['template']['click_to_unbind'];}--></p>
</div>
<!--{/if}-->
<div class="bm2_b bm2_b_y bw0">
<dl class="xld">
    <!--{if empty($_G['yangcong']['yangcong'])}-->
   <h2><!--{eval echo $lang['template']['unbind'];}--></h2>
<!--{else}-->
<h2><!--{eval echo $lang['template']['has_bind'];}--><a href="javascript:;" onclick="showWindow('yangcongcancel', 'plugin.php?id=yangcong:cancel')"><!--{eval echo $lang['template']['cancel_bind'];}--></a></h2>
<!--{/if}-->
<h2 class="xi1 xs2"><!--{eval echo $lang['template']['use_secken'];}--></h2>
<dt><!--{eval echo $lang['template']['use_secken_to_login'];}--></dt>
<dd class="xg1"><!--{eval echo $lang['template']['no_need_to_remember_password'];}--></dd>
</dl>
</div>
</div>
</div>
</div>
